[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
argcomplete = "*"
"discord.py" = "*"
moviepy = "*"
numpy = "*"
opencv-contrib-python = "*"
pillow = "*"
python-dateutil = "*"
tweepy = "*"
scipy = "*"

[dev-packages]
pre-commit = "*"
coverage = "*"
tomli = "*"

[requires]
python_version = "3.8"
